@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Begin of Inner banner section  */
.inner-banner-img img {
    width: 100%;
}
section.inner-banner-sec {
    position: relative;
}
.inner-banner-head {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-banner-head h2 {
    font-size: 51px;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
/* End of Inner Banner section  */


/* Begin of review section  */
.platform p {
    font-size: 16px;
    color: #000000;
    font-family: 'Work Sans';
    font-weight: 400;
}
.platform h2 {
    font-size: 35px;
    color: 30000;
    color: #000000;
    font-family: 'Work Sans';
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 26px;
}
  .Number-head {
    text-align: center;
}
.number-sec-all {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 40px;
}
/* End of Review section  */

/* Begin of Number section  */
.Number-head h2 {
    font-size: 33px;
    color: #000000;
    font-family: 'Work Sans';
    font-weight: 400;
}
.Number-head p {
    font-size: 18px;
    color: #000000;
    font-family: 'Work Sans';
    font-weight: 400;
}

.color h3 {
    font-size: 35px;
    color: #31007B;
    font-family: 'Work Sans';
    font-weight: 400;
}
section.number-sec {
    background-color: #FBF8FF;
    padding: 60px 0px;
}
.platform-btn a {
    background-color: #31007B;
    font-size: 17px;
    color: #ffffff;
    padding: 10px 20px;
}
.platform-btn {
    margin-top: 30px;
}
section.review-sec {
    padding: 60px  0px;
}
.color p {
    font-size: 17px;
    color: #000000;
    font-family: 'Work Sans';
    font-weight: 500;
}
/* End of Number section  */