/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");
/* Font Family */

/* Universal Css Start Here */
:root {
  --first-color: #31007b;
  --second-color: #e0322f;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
p {
  font-size: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}
h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 61px;
}
h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
}
h4 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}
h5 {
  font-size: 13px;
  line-height: 23px;
}
a.btn {
  background-color: #aec934;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
  border-radius: 5px;
}
figure {
  margin-bottom: 0;
}
a.btn {
  background-color: #31007b;
  color: #fff;
  font-size: 17px;
  padding: 12px 30px;
  border: 1px solid #31007b;
  border-radius: 0;
}
a.btn.transparent {
  background-color: #fff;
  color: #31007b;
  font-size: 17px;
  padding: 12px 30px;
  border: 1px solid #fff;
  border-radius: 0;
}

/* Inner Pages Banner */
/* .universal_banner {
  padding: 45px 0;
  background: #979797;
}
.universal_banner .contentDv {
  text-align: center;
}
.universal_banner .contentDv h2.title {
  font-size: 32px;
  color: #ffffff;
}
.universal_banner .contentDv p {
  color: #fff;
} */
/* Inner Pages Banner */

/* Universal Css End Here */

/* Mobile Header Css Start Here */
header .canvas_btn {
  display: none;
  justify-content: end;
  padding: 0 10px 0 0px;
}
header .canvas_btn i {
  font-size: 23px;
  color: #fff;
  margin-left: 10px;
}
.canvas_btn button.btn.btn-open {
  background: transparent;
  border-radius: 0;
  border: 0;
  width: 25px;
  padding: 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 0 0 0;
  cursor: pointer;
}
.canvas_btn button.btn.btn-open span.menu-line {
  width: 35px;
  height: 2px;
  background: #fff;
  margin: 3px 0;
  display: block;
}
.canvas_btn button.btn.btn-open span.menu-line.line-2x {
  width: 25px;
}
.mobile_header {
  position: fixed;
  z-index: 2;
  right: 0;
  background: #31007b;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 30px;
  transition: 0.8s;
  transform: translateX(120%);
  top: 0;
  z-index: 99999;
}
.mobile_header.show {
  transform: translateX(0%);
}
.mobile_header .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_header ul.mobile_menus {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile_header ul.mobile_menus li.menu_items {
  margin: 10px 0;
}
.mobile_header ul.mobile_menus li.menu_items.menu_btn {
  margin-top: 30px;
}
.mobile_header ul.mobile_menus li.menu_items a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}
/* .mobile_header ul.mobile_menus li.menu_items.menu_btn a {
  background: #c98536;
  padding: 13px 25px;
  border-radius: 50px;
} */
.mobile_header ul.mobile_menus li.menu_items.cart_btn a span.count {
  background: #c98536;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 9px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: -10px;
}
@media (max-width: 991px) {
  header .canvas_btn {
    display: flex;
  }
}
@media (max-width: 768px) {
  .mobile_header {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .mobile_header {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .mobile_header {
    width: 65%;
  }
}
/* Mobile Header Css Start Here */

/* Header Css Start here */
header {
  background: #31007b;
  padding: 10px 0;
}
header .navbar_menus ul.menus {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .navbar_menus ul.menus li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
header .navbar_menus ul.menus li {
  display: inline-block;
  margin-right: 30px;
}
header .right_menus {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .right_menus ul.action_links {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .right_menus ul.action_links li {
  display: inline-block;
}
header .right_menus ul.action_links li {
  margin-right: 4px;
}
header .right_menus ul.action_links li.back a {
  background: #ffffff;
  color: #31007b;
  padding: 11px 12px;
  border-radius: 50%;
  position: relative;
}
header .right_menus ul.action_links li.back a span.dot {
  width: 10px;
  height: 10px;
  background: #f6de00;
  position: absolute;
  border-radius: 50%;
  top: 0;
}
header .right_menus ul.action_links li.back a i {
  font-size: 18px;
}
header .right_menus ul.action_links li.profile a img {
  width: 42px;
}
header .right_menus a.btn {
  border: 1px solid #fff;
  border: 1px solid #fff;
  font-weight: 600;
}
@media (max-width: 991px) {
  header .navbar_menus ul.menus {
    display: none;
  }
  header .right_menus .button-group {
    display: none;
  }
}
/* Header Css End here */
/* inner pages banner css starts here */
.page-banner {
  background-image: url("../img/page-banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px;
}
section.page-banner h1 {
  font-size: 51px;
  color: #fff;
  font-family: "Work Sans";
  font-weight: 700;
}
/* inner pages banner css ends here */
/* Footer Css Start Here */
footer {
  background: #31007b;
  padding: 60px 0 0;
  color: #fff;
}
footer .footer_content {
  padding-bottom: 80px;
}
footer .footer_content .ft-logoDv {
  padding-bottom: 30px;
}
footer .footer_content p {
  font-size: 14px;
  line-height: 20px;
}
footer .footer_content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .footer_content .head h5 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}
footer .footer_content ul.footer-menus li a {
  color: #ffffff96;
  text-decoration: none;
}
footer .footer_content ul.footer-menus li {
  padding: 5px 0;
}
footer .footer_content .newsletter_box .form-control {
  border-radius: 0;
  background: #fff;
  font-size: 14px;
  font-family: "Poppins";
  padding: 13px 15px;
  border: 0;
}
footer .footer_content .newsletter_box {
  display: flex;
}
footer .footer_content .newsletter_box button.btn {
  border-radius: 0;
  color: #292929;
  font-size: 14px;
  font-family: "Poppins";
  border: 0;
  background: #ffc53a;
  font-weight: 500;
}
footer .footer_content ul.social_icons {
  margin-top: 20px;
}
footer .footer_content ul.social_icons li {
  display: inline-block;
  margin-right: 20px;
}
footer .footer_content ul.social_icons li a i {
  color: #fff;
}
footer .copyrights {
  border-top: 1px solid #fff;
  padding: 30px 0;
}
footer .copyrights p {
  margin: 0;
  color: #ffffff96;
  text-align: center;
}
@media (max-width: 575px) {
  footer .footer_content {
    padding-bottom: 30px;
  }
}
/* Footer Css End Here */

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #31007b;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #e0322f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
