/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");
/* Font Family */

/* Universal Css Start Here */
:root {
  --first-color: #31007b;
  --second-color: #e0322f;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans";
}
p {
  font-size: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans";
}
h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 61px;
}
h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}
h4 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}
h5 {
  font-size: 13px;
  line-height: 23px;
}
a.btn {
  background-color: #aec934;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
  border-radius: 5px;
}
figure {
  margin-bottom: 0;
}
a.btn {
  background-color: #31007b;
  color: #fff;
  font-size: 17px;
  padding: 10px 30px;
  border: 1px solid #31007b;
  border-radius: 0;
  font-weight: 500;
}
a.btn.transparent {
  background-color: #fff;
  color: #31007b;
  font-size: 17px;
  padding: 12px 30px;
  border: 1px solid #fff;
  border-radius: 0;
}

/* Inner Pages Banner */
/* .universal_banner {
  padding: 45px 0;
  background: #979797;
}
.universal_banner .contentDv {
  text-align: center;
}
.universal_banner .contentDv h2.title {
  font-size: 32px;
  color: #ffffff;
}
.universal_banner .contentDv p {
  color: #fff;
} */
/* Inner Pages Banner */

/* Universal Css End Here */

/* Mobile Header Css Start Here */
header .canvas_btn {
  display: none;
  justify-content: end;
  padding: 0 10px 0 0px;
}
header .canvas_btn i {
  font-size: 23px;
  color: #fff;
  margin-left: 10px;
}
.canvas_btn button.btn.btn-open {
  background: transparent;
  border-radius: 0;
  border: 0;
  width: 25px;
  padding: 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 0 0 0;
  cursor: pointer;
}
.canvas_btn button.btn.btn-open span.menu-line {
  width: 35px;
  height: 2px;
  background: #fff;
  margin: 3px 0;
  display: block;
}
.canvas_btn button.btn.btn-open span.menu-line.line-2x {
  width: 25px;
}
.mobile_header {
  position: fixed;
  z-index: 2;
  right: 0;
  background: #31007b;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 30px;
  transition: 0.8s;
  transform: translateX(120%);
  top: 0;
  z-index: 99999;
}
.mobile_header.show {
  transform: translateX(0%);
}
.mobile_header .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_header ul.mobile_menus {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile_header ul.mobile_menus li.menu_items {
  margin: 10px 0;
}
.mobile_header ul.mobile_menus li.menu_items.menu_btn {
  margin-top: 30px;
}
.mobile_header ul.mobile_menus li.menu_items a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}
/* .mobile_header ul.mobile_menus li.menu_items.menu_btn a {
  background: #c98536;
  padding: 13px 25px;
  border-radius: 50px;
} */
.mobile_header ul.mobile_menus li.menu_items.cart_btn a span.count {
  background: #c98536;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 9px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: -10px;
}
@media (max-width: 991px) {
  header .canvas_btn {
    display: flex;
  }
}
@media (max-width: 768px) {
  .mobile_header {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .mobile_header {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .mobile_header {
    width: 65%;
  }
}
/* Mobile Header Css Start Here */

/* Header Css Start here */
header {
  background: #31007b;
  padding: 10px 0;
}
header .navbar_menus ul.menus {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .navbar_menus ul.menus li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
header .navbar_menus ul.menus li {
  display: inline-block;
  margin-right: 30px;
}
header .right_menus {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .right_menus ul.action_links {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .right_menus ul.action_links li {
  display: inline-block;
}
header .right_menus ul.action_links li {
  margin-right: 4px;
}
header .right_menus ul.action_links li.back a {
  background: #ffffff;
  color: #31007b;
  padding: 11px 12px;
  border-radius: 50%;
  position: relative;
}
header .right_menus ul.action_links li.back a span.dot {
  width: 10px;
  height: 10px;
  background: #f6de00;
  position: absolute;
  border-radius: 50%;
  top: 0;
}
header .right_menus ul.action_links li.back a i {
  font-size: 18px;
}
header .right_menus ul.action_links li.profile a img {
  width: 42px;
}
header .right_menus a.btn {
  border: 1px solid #fff;
  border: 1px solid #fff;
  font-weight: 600;
}
@media (max-width: 991px) {
  header .navbar_menus ul.menus {
    display: none;
  }
  header .right_menus .button-group {
    display: none;
  }
}
/* Header Css End here */

/* Banner Sec Start Here */
.banner_sec {
  position: relative;
  overflow: hidden;
  border-bottom: 10px solid #efe5ff;
}
.banner_sec .banner_image img {
  height: 520px;
  object-fit: cover;
  width: 100%;
}
.banner_sec .banner_slide {
  position: relative;
}
.banner_sec .banner_slide .banner_content {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}
.banner_sec .banner_slide .banner_content h2.title {
  color: #ffffff;
}
.banner_sec .banner_slide .banner_content h2.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
}
.banner_sec .banner_slide .banner_content p {
  color: #fff;
  margin: 0;
  padding: 15px 0 30px;
}
.banner_sec .banner_slide .banner_content .filter_form {
  background: #fff;
  padding: 20px 30px 10px;
}
.banner_sec .banner_slide .banner_content .filter_form .heading h4 {
  color: #000000;
  font-weight: 600;
}
.banner_sec .banner_slide .banner_content .form-group .form-control {
  border-radius: 0;
  border: 1px solid #0000003b;
  color: #636060;
  font-family: "Work Sans";
  color: #63606059;
}
.banner_sec
  .banner_slide
  .banner_content
  .form-group
  .form-control::placeholder {
  color: #63606059;
}
.banner_sec .banner_slide .banner_content .filter_form button.btn {
  background: #31007b;
  color: #fff;
  font-weight: 500;
  font-family: "Work sans";
  border-radius: 0;
}
/* Banner Sec End Here */

/* Column Sec Css Start Here */
.column_box {
  padding: 60px 0;
}
.column_box .col_box .img_box {
  background: #31007b;
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.column_box .col_box {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px #ddd;
  padding: 15px 20px;
}
.column_box .col_box .details {
  padding-left: 20px;
}
.column_box .col_box .details p {
  color: #000000;
  font-size: 14px;
}
.column_box .col_box .details a.lnk {
  color: #31007b;
  font-size: 18px;
  text-decoration: underline;
}
/* Column Sec Css End Here */

/* Explore Css Start Here */
.explore_sec {
  padding: 60px 0;
  background: #fbf8ff;
}
.explore_sec .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
.explore_sec .topbar h3 {
  margin-bottom: 0;
}
.explore_sec .topbar a.btn.transparent {
  background: transparent;
  border: 1px solid #31007b;
  padding: 10px 40px;
  font-weight: 600;
}
.explore_sec .explore_box {
  text-align: center;
  background: #fff;
  padding: 35px 0 10px;
  height: 160px;
  margin: 10px 0;
  box-shadow: 0px 0px 10px #ddd;
}
.explore_sec .explore_box h5 {
  font-size: 16px;
  color: #31007b;
  text-decoration: underline;
  font-weight: 600;
}
.explore_sec .explore_box .img_box {
  min-height: 65px;
}
/* Explore Css End Here */

/* Report Sec Css Start Here */
.report_sec {
  padding: 60px 0;
}
.report_sec h3.title {
  padding-bottom: 15px;
}
.report_sec .contentBox p {
  font-weight: 500;
  padding-right: 6rem;
}
/* Report Sec Css End Here */

/* Reviews Css Start Here */
.reviews_sec {
  padding: 60px 0;
  background: #fbf8ff;
  overflow: hidden;
}
.reviews_sec .heading_wrapper {
  text-align: center;
}
.reviews_sec .button-groups {
  text-align: center;
  margin-top: 40px;
}
.reviews_sec .slick-track {
  padding: 0 0 10px;
}
.reviews_sec .reviews_slider {
  padding: 60px 0 20px;
  margin: 0 -350px;
}
.reviews_sec .reviews_slider_two {
  margin: 0 -350px;
}
.reviews_sec .reviews_box {
  background: #fff;
  padding: 20px 25px;
  margin: 0 6px;
  box-shadow: 0px 0px 10px #ddd;
}
.reviews_sec .topbar .img_box img {
  width: 47px;
  border: 2px solid #31007b;
  border-radius: 50%;
}
.reviews_sec .topbar {
  display: flex;
  align-items: center;
}
.reviews_sec .topbar .detail p {
  color: #000000;
  font-size: 12px;
  margin: 0;
}
.reviews_sec .topbar .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  flex: 1;
}
.reviews_sec .topbar .detail span.date {
  font-size: 10px;
  color: #000000b5;
}
.reviews_sec .comment {
  padding: 20px 0;
}
.reviews_sec .comment p {
  margin: 0;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.reviews_sec .bottom_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #70707045;
  padding-top: 15px;
}
.reviews_sec .bottom_bar .likesDv {
  display: flex;
  align-items: center;
}
.reviews_sec .bottom_bar .likesDv p:first-child {
  margin-right: 15px;
}
.reviews_sec .bottom_bar .likesDv p {
  margin: 0;
  font-size: 9px;
  font-weight: 600;
}
.reviews_sec .bottom_bar .likesDv i {
  font-size: 20px;
  color: #31007b;
  margin-right: 5px;
}
.reviews_sec .bottom_bar .likesDv p {
  color: #31007b;
}
.reviews_sec .bottom_bar .button-group a.lnk {
  font-size: 18px;
  color: #31007b;
  font-weight: 600;
  text-decoration: underline;
}
.reviews_sec .button-groups a.btn {
  padding: 10px 40px;
}
/* Reviews Css End Here */

/* Joining Sec Css Start Here */
.join_sec {
  padding: 60px 0;
}
.join_sec .contentBox h3.title {
  color: #000000;
  font-size: 30px;
}
.join_sec .contentBox p {
  font-weight: 500;
  color: #000;
}
.join_sec .contentBox {
  padding-left: 2rem;
}
/* Joining Sec Css End Here */

/* Download Css Start Here */
.join_sec .img_box .slick-track {
  padding: 50px 0;
}
.join_sec .img_box figure {
  margin: 0 6px;
}
.join_sec .img_box figure img {
  opacity: 0.6;
  transition: 0.6s;
}
.join_sec .img_box figure.slick-center img {
  opacity: 1 !important;
  transform: scale(1.2);
}
/* Download Css End Here */

/* Footer Css Start Here */
footer {
  background: #31007b;
  padding: 60px 0 0;
  color: #fff;
}
footer .footer_content {
  padding-bottom: 80px;
}
footer .footer_content .ft-logoDv {
  padding-bottom: 30px;
}
footer .footer_content p {
  font-size: 14px;
  line-height: 20px;
}
footer .footer_content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .footer_content .head h5 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}
footer .footer_content ul.footer-menus li a {
  color: #ffffff96;
  text-decoration: none;
}
footer .footer_content ul.footer-menus li {
  padding: 5px 0;
}
footer .footer_content .newsletter_box .form-control {
  border-radius: 0;
  background: #fff;
  font-size: 14px;
  font-family: "Poppins";
  padding: 13px 15px;
  border: 0;
}
footer .footer_content .newsletter_box {
  display: flex;
}
footer .footer_content .newsletter_box button.btn {
  border-radius: 0;
  color: #292929;
  font-size: 14px;
  font-family: "Poppins";
  border: 0;
  background: #ffc53a;
  font-weight: 500;
}
footer .footer_content ul.social_icons {
  margin-top: 20px;
}
footer .footer_content ul.social_icons li {
  display: inline-block;
  margin-right: 20px;
}
footer .footer_content ul.social_icons li a i {
  color: #fff;
}
footer .copyrights {
  border-top: 1px solid #fff;
  padding: 30px 0;
}
footer .copyrights p {
  margin: 0;
  color: #ffffff96;
  text-align: center;
}
@media (max-width: 575px) {
  footer .footer_content {
    padding-bottom: 30px;
  }
}
/* Footer Css End Here */

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #31007b;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #e0322f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
